<%= javascript_include_tag :defaults %>
<%= form_for (@enquiry) do |f| %>

    <form role="form">
      <% if @enquiry.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@enquiry.errors.count, "error") %> prohibited this enquiry from being saved:</h2>

            <ul>
              <% @enquiry.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <p align="center">Vul de onderstaande velden in om een werkvergunning aan te vragen.</p>

      <div class="form-group ">

        <%= f.fields_for :applicant do |a| %>

            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                  <h5 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Algemene informatie
                    </a>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-block">
                    <%= f.label :Referentie, :class => "col-sm-2 control-label" %>
                    <%= f.text_field :reference, :class => "form-control" %> <br>

                    <%= f.label :Locatie, :class => "col-sm-2 control-label" %>
                    <%= f.select :location, [['Chemiepark', 'chemiepark'], ['Winschoten', 'winschoten'], ['Farmsum', 'farmsum']], :class => "form-control" %>
                    <br>
                    <br>

                    <%= f.label :Omschrijving, :class => "col-sm-2 control-label" %>
                    <%= f.text_area :description, :class => "form-control" %> <br>

                    <%= f.label :Aantal_uitvoerenden, :class => "col-sm-2 control-label" %>
                    <%= f.number_field :amount, max: 9999, :class => "form-control" %> <br>

                    <%= f.label :Datum %><br>
                    <%= f.datetime_select :date %> <br>

                    <%= a.label :Aanvrager %><br>
                    <%= a.text_field :name, :value => current_user.name %> <br>

                    <%= a.label :email %><br>
                    <%= a.text_field :email, :value => current_user.email, presence: true %> <br>

                    <%= a.label :Bedrijf %><br>
                    <%= a.text_field :company, :value => current_user.company, presence: true %>


        <% end %>
        </div>
        </div>
        </div>

        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Product (vrij) verklaring
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">

              <%= f.fields_for :enquirymeasures do |em| %>

                  <%= Measurement.where(measurementtype: 'product verklaring').find_each do |m| %>

                      <%= f.fields_for :enquirymeasures, :html => {:multipart => true} do |em| %>
                          <%= em.hidden_field :measurementid, {:value => m.id} %>
                          <%= em.hidden_field :type, {:value => m.measurementtype} %>
                          <%= em.hidden_field :description, {:value => m.measurement} %>
                          <p>
                            <%= em.check_box :needed %>
                            <%= m.measurement %>


                          <hr>
                      <% end %>
                  <% end %>
                  <%= f.fields_for :enquirymeasures do |em| %>
                      <%= em.label :bijzonderheden %>
                      <%= em.text_field :other %></p>
                  <% end %>

                  <br>


                  </div>
                  </div>

              <% end %>
              </div>


        <%= f.fields_for :enquirymeasures do |em| %>
            <div class="card">
              <div class="card-header" role="tab" id="headingElektro">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseElektro" aria-expanded="false" aria-controls="collapseElektro">
                    Elektrotechnische maatregelen
                  </a>
                </h5>
              </div>
              <div id="collapseElektro" class="collapse" role="tabpanel" aria-labelledby="headingElektro">
                <div class="card-block">
                  <%= Measurement.where(measurementtype: 'Elektrotechnisch').find_each do |m| %>

                      <%= f.fields_for :enquirymeasures, :html => {:multipart => true} do |em| %>
                          <%= em.hidden_field :measurementid, {:value => m.id} %>
                          <%= em.hidden_field :type, {:value => m.measurementtype} %>
                          <%= em.hidden_field :description, {:value => m.measurement} %>
                          <p><%= em.check_box :needed %> <%= m.measurement %>
                          <hr>
                      <% end %>
                  <% end %>

                </div>
              </div>
            </div>

        <% end %>
        </div>


        <%= f.fields_for :enquirymeasures do |em| %>
            <div class="card">
              <div class="card-header" role="tab" id="headingHouder">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseHouder" aria-expanded="false" aria-controls="collapseHouder">
                    Maatregelen door vergunninghouder
                  </a>
                </h5>
              </div>
              <div id="collapseHouder" class="collapse" role="tabpanel" aria-labelledby="headingHouder">
                <div class="card-block">
                  <%= Measurement.where(measurementtype: 'vergunninghouder').find_each do |m| %>

                      <%= f.fields_for :enquirymeasures, :html => {:multipart => true} do |em| %>
                          <%= em.hidden_field :measurementid, {:value => m.id} %>
                          <%= em.hidden_field :type, {:value => m.measurementtype} %>
                          <%= em.hidden_field :description, {:value => m.measurement} %>
                          <p><%= em.check_box :needed %> <%= m.measurement %>

                          </p>
                          <hr>
                      <% end %>
                  <% end %>

                </div>
              </div>
            </div>

        <% end %>


        <%= f.fields_for :enquirymeasures do |em| %>
            <div class="card">
              <div class="card-header" role="tab" id="headingBrand">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseBrand" aria-expanded="false" aria-controls="collapseBrand">
                    Brandpreventie maatregelen
                  </a>
                </h5>
              </div>
              <div id="collapseBrand" class="collapse" role="tabpanel" aria-labelledby="headingBrand">
                <div class="card-block">
                  <%= Measurement.where(measurementtype: 'brandpreventie').find_each do |m| %>


                      <%= f.fields_for :enquirymeasures, :html => {:multipart => true} do |em| %>
                          <%= em.hidden_field :measurementid, {:value => m.id} %>
                          <%= em.hidden_field :type, {:value => m.measurementtype} %>
                          <%= em.hidden_field :description, {:value => m.measurement} %>
                          <p><%= em.check_box :needed %> <%= m.measurement %>

                          </p>
                          <hr>
                      <% end %>
                  <% end %>

                </div>
              </div>
            </div>

        <% end %>


        <%= f.fields_for :enquirymeasures do |em| %>
            <div class="card">
              <div class="card-header" role="tab" id="headingPBM">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePBM" aria-expanded="false" aria-controls="collapsePBM">
                    Persoonlijke beschermingsmiddelen
                  </a>
                </h5>
              </div>
              <div id="collapsePBM" class="collapse" role="tabpanel" aria-labelledby="headingPBM">
                <div class="card-block">
                  <%= Measurement.where(measurementtype: 'PBM').find_each do |m| %>

                      <%= f.fields_for :enquirymeasures, :html => {:multipart => true} do |em| %>
                          <%= em.hidden_field :measurementid, {:value => m.id} %>
                          <%= em.hidden_field :type, {:value => m.measurementtype} %>
                          <%= em.hidden_field :description, {:value => m.measurement} %>
                          <p><%= em.check_box :needed %> <%= m.measurement %>

                          </p>
                          <hr>
                      <% end %>
                  <% end %>

                </div>
              </div>
            </div>

        <% end %>
        <%# gereedschap %>

        <%= f.fields_for :tools do |t| %>

            <div class="card">
              <div class="card-header" role="tab" id="headingTools">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTools" aria-expanded="false" aria-controls="collapseTools">
                    Gereedschap en Apparatuur
                  </a>
                </h5>
              </div>
              <div id="collapseTools" class="collapse" role="tabpanel" aria-labelledby="headingTools">
                <div class="card-block">

                  <%= t.label :handgereedschap %><br>
                  <%= t.text_field :handtool %>
                  <br>

                  <%= t.label :overig %><br>
                  <%= t.text_area :other %>
                  <br>
                  <%= t.check_box :motorvehicle %>
                  <%= t.label :Motorvoertuig %>
                  <br>
                  <%= t.check_box :compressor %>
                  <%= t.label :Compressor %>
                  <br>
                  <%= t.check_box :ramp %>
                  <%= t.label :Hoogwerker %>
                  <br>
                  <%= t.check_box :scaffold %>
                  <%= t.label :Steiger %>
                 <br>
                  <%= t.check_box :crane %>
                  <%= t.label :Kraan %>
                  <br>
                  <%= t.check_box :ladder %>
                  <%= t.label :Ladder %>
                  <br>
                  <%= t.check_box :generator %>
                  <%= t.label :Aggregaat %>
                  <br>
                  <%= t.check_box :tankladder %>
                  <%= t.label :Tankladder %>

                </div>
              </div>
            </div>

        <% end %>

        <%= f.fields_for :gasmeters do |g| %>
            <div class="card">
              <div class="card-header" role="tab" id="headingMetingen">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseMetingen" aria-expanded="false" aria-controls="collapseMetingen">
                    Metingen
                  </a>
                </h5>
              </div>
              <div id="collapseMetingen" class="collapse" role="tabpanel" aria-labelledby="headingMetingen">
                <div class="card-block">
                  <%= g.label :datum, "Datum en tijd van de gasmeting" %><br>
                  <%= g.datetime_select :date %><br>

                  <%= g.label :tester %><br>
                  <%= g.text_field :tester %> <br>

                  <%= g.label :handtekening %><br>
                  <%= g.text_field :signature %> <br>

                  <%= g.label :Zuurstof %><br>
                  <%= g.text_field :oxigen %> <br>

                  <%= g.label :benodigd %>
                  <%= g.check_box :o_needed %>
                  <br>
                  <%= g.label :continu %>
                  <%= g.check_box :o_continu %> <br>


                  <%= g.label :explosief %><br>
                  <%= g.text_field :explosives %> <br>

                  <%= g.label :benodigd %>
                  <%= g.check_box :e_needed %> <br>

                  <%= g.label :continu %><
                  <%= g.check_box :e_continu %> <br>

                  <%= g.label :Stof1, "Stof 1" %><br>
                  <%= g.text_field :mat1 %> <br>

                  <%= g.label :benodigd %>
                  <%= g.check_box :mat1_needed %>

                  <%= g.label :continu %>
                  <%= g.check_box :mat1_continu %> <br>

                  <%= g.label :Stof2, "Stof 2" %><br>
                  <%= g.text_field :mat2 %> <br>

                  <%= g.label :benodigd %>
                  <%= g.check_box :mat2_needed %>

                  <%= g.label :continu %>
                  <%= g.check_box :mat2_continu %> <br>

                  <%= g.label :Stof3, "Stof 3" %><br>
                  <%= g.text_field :mat3 %> <br>

                  <%= g.label :benodigd %>
                  <%= g.check_box :mat3_needed %>

                  <%= g.label :continu %>
                  <%= g.check_box :mat3_continu %> <br>
                </div>
              </div>
            </div>

        <% end %>
        <%#<p align="center">De laatste stap bestaat uit het ondertekenen van het formulier met uw pincode.</p>
        %>
        <%= f.fields_for :signatures do |s| %>
            <div class="card">
              <div class="card-header" role="tab" id="headingTekenen">
                <h5 class="mb-0">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTekenen" aria-expanded="false" aria-controls="collapseTekenen">
                    Ondertekening
                  </a>
                </h5>
              </div>
              <div id="collapseTekenen" class="collapse" role="tabpanel" aria-labelledby="headingTekenen">
                <div class="card-block">
                  <%= f.fields_for :representatives do |sr| %>
                      <%= s.label :Gemachtigde %><br>
                      <%# s.collection_select(:representative_id, Representative.all, :id, :name, prompt: true) %>
                      <%= s.text_field :name, :value => current_user.name %> <br>

                      <br>

                      <%= s.label :datum %><br>
                      <%= s.datetime_select :date %>

                      </div>
                      </div>
                      </div>

                  <% end %>
        <% end %>

        <% if can? :manage, Enquiry %>

            <div class="card">
              <div class="card-header" role="tab" id="headingBeheer">
                <h5 class="mb-0">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseBeheer" aria-expanded="true" aria-controls="collapseBeheer">
                    Beheer
                  </a>
                </h5>
              </div>
              <div id="collapseBeheer" class="collapse show" role="tabpanel" aria-labelledby="headingBeheer">
                <div class="card-block">
                  <p> Goedkeuring van het formulier door JPB Groep</p>

                  <%= f.label :Status %>
                  <%= f.select :status, [['in aanvraag', 'in aanvraag'], ['Goedgekeurd', 'goedgekeurd'], ['Geweigerd', 'geweigerd'], ['Afgesloten', 'afgesloten']], :class => "form-control" %>
                  <br>

                      <br>

                  <%= f.fields_for :controls do |c| %>

                      <%= c.label :vergunning_gecontroleerd, "vergunning is gecontroleerd" %>
                      <%= c.check_box :enquirycheck %><br>
                      <%= c.label :werkplek_gecontroleerd, "werklocatie is gecontroleerd" %>
                      <%= c.check_box :workspacecheck %>
                  <% end %>

                </div>
              </div>
            </div>
            </div>
            </div>
        <% end %>
        </form>


    </div>

    </div>
    <div class="actions">
      <%= f.submit label="Verzend aanvraag" %>
    </div>

    </div>

<% end %>


