<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @enquiry.id %>
</p>

<p>
  <strong>Referentie:</strong>
  <%= @enquiry.reference %>
</p>

<p>
  <strong>Beschrijving:</strong>
  <%= @enquiry.description %>
</p>

<p>
  <strong>Locatie:</strong>
  <%= @enquiry.location %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @enquiry.date %>
</p>

<p>
  <strong>Associated users:</strong>
  <%= @assosciated_users %>
</p>

<p>
  <strong>aantal uitvoerenden:</strong>
  <%= @enquiry.amount %>
</p>

<%= link_to 'Edit', edit_enquiry_path(@enquiry) %>
<%= link_to 'Back', root_path %>

